.menuItem {
    color: white;
    background: linear-gradient(35deg, rgb(199, 10, 10), rgb(6, 17, 60));
    text-decoration: none;
}
.menuItem:hover {
    background: linear-gradient(to right, #2136f2, #e94057);
}
@media (max-width: 480px) {
    .menuContainer {
        text-align: center;
        margin: auto;
        width: 24em;
        height: 24em;
        border-radius: 50%;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
    .menuItem {
        display: block;
        border: 2px solid grey;
        border-radius: 50%;
        text-align: center;
    }
    .deg1 {
        text-decoration: none;
        grid-column: 3 / span 2;
        grid-row: 1 / span 2;
    } /* 1 */
    .deg2 {
        text-decoration: none;

        grid-column: 1 / span 2;
        grid-row: 2 / span 2;
    } /* 2 */
    .deg3 {
        text-decoration: none;

        grid-column: 5 / span 2;
        grid-row: 2 / span 2;
    } /* 3 */
    .deg4 {
        text-decoration: none;

        grid-column: 2 / span 2;
        grid-row: 4 / span 2;
    } /* 4 */
    .deg5 {
        text-decoration: none;

        grid-column: 4 / span 2;
        grid-row: 4 / span 2;
    } /* 5 */
    .deg2 {
        margin: 0 -2em 0 2em;
    }
    .deg3 {
        margin: 0 2em 0 -2em;
    }
    .deg4 {
        margin: -2em 0.5em 2em 0;
    }
    .deg5 {
        margin: -2em 0 2em 0.5em;
    }
    h4 {
        font-size: 0.8rem;
    }
    svg {
        margin-top: 0.8rem;
        font-size: 1rem;
    }
}
@media (min-width: 480px) and (orientation: portrait) {
    .menuContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 2rem 0rem;
    }
    .menuItem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin-right: 2rem;
        width: 6rem;
        height: 6rem;
        cursor: pointer;
        transform: scale(0.8rem);
    }

    h4 {
        font-size: 0.8rem;
    }
    svg {
        margin-top: 0.8rem;
        font-size: 2rem;
    }
}

@media (min-width: 768px) and (orientation: landscape) {
    .menuContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 2rem 0rem;
        margin-top: -100px;
        margin-left: 450px;
    }
    .menuItem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin-right: 2rem;
        width: 6rem;
        height: 6rem;
        cursor: pointer;
        transform: scale(0.8rem);
    }

    h4 {
        font-size: 0.8rem;
    }
    svg {
        margin-top: 0.8rem;
        font-size: 2rem;
    }
}
