.App {
    text-align: center;
}
.receipts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.searchedText {
    text-align: center;
}
.spinner {
    text-align: center;
}
